<div style="background-color: #461715">
    <h1 style="color: #fffafa">Une nouvelle série a été ajouté </h1>
    <h2 style="color: #fffafa">Il s'agit de {{ program.title }}</h2>
    <p style="color: #fffafa">Cliquez-<a href="http://localhost:8000/program/{{ program.slug }}">ici</a> pour voir la série</p>
</div>


