{% extends 'base.html.twig' %}

{% block title %}Edit Season{% endblock %}

{% block body %}
    <h1>Modifier la saison</h1>
    <div class="container">
        {{ include('season/_form.html.twig', {'button_label': 'Modifier'}) }}
        <a href="{{ path('season_index') }}"><button class="btn btn-dark">Retour</button></a>
        {{ include('season/_delete_form.html.twig') }}
    </div>
{% endblock %}
