{% extends 'base.html.twig' %}

{% block title %}Nouvelle série{% endblock %}

{% block body %}
    <div class="container">
        <h1>Créer une série</h1>

        {{ include('program/_form.html.twig') }}

        <a href="{{ path('program_index') }}">
            <button class="btn btn-dark">Retour</button>
        </a>
    </div>
{% endblock %}
