{% extends 'base.html.twig' %}
{% block body %}
    <h1>Bienvenue sur Wild Series</h1>
    <a href="{{ path('wild_showProgram', { 'slug': "walking-dead" }) }}">
        <button class="btn btn-danger">
            TWD
        </button>
    </a>
    <a href="{{ path('wild_index') }}">
        <button class="btn btn-dark">
            Tous les programmes
        </button>
    </a>
    <a href="{{ path('category') }}"><button class="btn btn-dark">Ajouter une catégorie</button></a>

    <p>
        Les catégories sont :
        {% for category in categories %}
            {{ category.name }}
        {% endfor %}
    </p>

{% endblock %}
