@import "~bootstrap";

.bg-light {
    background-color: #461715 !important;
}
.navbar-brand, .nav-link{
    color: #fff5c9 !important;
}
body {
    background-color: snow;
    color: black;
    font-family: lato;
}
.poster_serie {
    width: 300px;
}

